@font-face {
    font-family: RubikMonoOne;
    src: url(./fonts/RubikMonoOne-Regular.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(./fonts/Roboto-Black.ttf);

}


#home {
    background-color: #08313A;
}

#blogTitle {
    color: #5CD85A;
    font-family: RubikMonoOne;
    font-size: 60px;;
    width: auto;
    text-align: center;
}

#aboutMe {
    flex: 1;
    text-align: left;
    font-size: 32px;
    font-family: RobotoBlack;
    color: white;
    line-height: .9;
    padding-left: 5px;
}

#name {
    color: #5CD85A;
    font-family: RubikMonoOne;
    font-size: 93px;
    text-align: right;
    line-height: .8;
    flex: 1;
}


#blogLink {
    font-family: RobotoBlack;
    font-size: 40px;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: #5CD85A;
}

#title {
    font-size: 40px;
    font-family: Helvetica;
    font-weight: bolder;
    color: #0C2D48;
}

.headshot {
    border: solid #5CD85A 10px;
    box-shadow: 5px;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
}

.headshot:hover {
    border: solid white 10px;
}

#about {
    font-size: 25px;
    width: 1200px;
    padding: 5px;
    color: #0C2D48;
    font-weight: normal;
}

.container {
    display: flex;
    justify-content: center;
    size: 100%;
}

nav {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.post {
    width: 70%;
    background-color: white;
    border-radius: 10px;
    color:#08313A;
    margin-bottom: 5px;
    font-family: Arial;

}

.postHeader {
    height: 80px;
    padding: 0 10px;
}

#date {
    align-self: center;
    margin: 0 0;
    font-size: 15px;
    opacity: .7;
    }

#postTitle {
    font-size: 30px;
    margin: 0 0;
    padding: 10px 0 0;
    font-weight: bold;
}

#postContent {
    text-align: left;
    font-size: 20px;
    padding: 0 10px 10px;
    margin: 0;
}